.MargemDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.MargemDivInterna {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.MargemBotoes {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background-color: burlywood;
}