.MargemDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.MargemDivInterna {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.MargemBotoes {
    margin: 5px;
}

body {
    background-color: burlywood;
}

.imagem-redimensionada {
    max-width: 100%;
    height: auto;
    display: block; /* Adicione esta linha para resolver problemas de exibição em alguns navegadores */
    margin: auto; /* Centraliza a imagem horizontalmente */
}

#nome-cabecalho {
    color: rgb(222, 135, 199);
    font-size: larger;
    margin-left: 80px;
    background-color: rgb(237, 217, 191);
    width: 270px;
    text-align: center;
    border-radius: 10px;
}